<header>
  <div class="container-menu">
    <div class="logo">
      <a href=""><img src="assets/images/logo.svg" /></a>
    </div>
  </div>
  <div class="container">
    <h1>Reabertura</h1>
    <h1>Smart Fit</h1>
    <div class="divisao"></div>
    <p>
      O horário de funcionamento das nosssa unidades está seguindo o decreto de cada município. Por isso,
      confira aqui se a sua unidade está aberta e as medidas de segunrança que estamos seguindo.
    </p>
  </div>
</header>
<main>
  <app-form></app-form>
  <app-list-card></app-list-card>

</main>
<footer>
  <div class="container-footer">
    <div class="container-content">
      <div class="logo">
        <a href=""><img src="assets/images/logo.svg" /></a>
      </div>
      <span class="text">Todos os direitos reservados - 2020</span>
    </div>
  </div>
</footer>